@model IEnumerable<Data.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeOffTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneUniqueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPassengerCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeOffTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneUniqueNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PilotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassangerCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessPassengerCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
